.page-home3{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.page-home3-child{
  width: 28%;

  margin: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-home3-child img{
  width: 100%;
  height: auto;

}